.bossManButton:hover{
    cursor: pointer;
}

.imgs{
    width: 22vh;
    height: 22vh;
}

.background{
    background-color: rgb(255, 146, 56);
}

.color-head{
    background-color: rgb(255, 195, 145);
}

.section-color{
    background-color: rgb(255, 227, 204);
}

.text-size{
    font-size: 47px;
}